footer {
    background-color: $footerColor;
    bottom: 0;
    font-family: code;
    font-size: 11pt;
    left: 0;
    margin: 0;
    opacity: 0.9;
    padding: 0;
    position: fixed;
    width: 100%;
    nav {
        display: inline-block;
        float: left;
        @media (max-width: 767px){
            display: block;
            float: none;
        }
        ul {
            margin: 10px 5px;
            text-align: center;
            @media (max-width:1024px){
                padding: 0;
            }
            @media (max-width:767px){
                margin: 0;
            }
            li {
                display: inline-block;
                padding: 0 5px; 
                @media (max-width:1024px){
                   padding: 5px 10px;
                }
                @media (max-width:767px){
                    padding: 0;
                }
                a {
                    bottom: 0;
                    color: $footerTextColor;
                    position: relative;
                    @media (max-width:1024px){
                        font-size: 14pt;
                        line-height: 16pt;
                    }
                    @media (max-width:767px){
                        display: inline-block;
                        font-size: 8pt;
                        line-height: 10pt;
                        padding: 0 10px;
                        white-space: nowrap;
                    }
                    &:hover {
                        @media (max-width:1024px){
                            text-decoration: none;
                        }
                    }
                    img{
                        display: none;
                        @media (max-width:767px){
                            display: block;
                            margin: 5px auto;
                        }
                    }
                    &.active{
                        @media (max-width:767px){
                            background-color: #111;
                        }
                    }
                }
                &.btn-media{
                    max-height: 20px;
                    vertical-align: bottom;
                    @media (max-width:767px){
                        display: none;
                    }
                }
            }
        }
    }
}



.copyright {
    bottom: 10px;
    color: $footerTextColor;
    display: inline-block;
    font-size: 9pt;
    position: fixed;
    right: 50px;
    @media (max-width:1024px){
        font-size: 8pt;
    }
    a {
        color: $footerTextColor;
    }
    @media (max-width:767px){
        display: none;
    }
}