section{
    margin: 75px 0;
    @media (max-width: 767px){
        margin: 50px 0;
    }
    img{
        border: 2px solid $borderColor;
        border-radius: 10px;
        @media (max-width: 767px){
            width: 50%;
        }
    }
}

.dino-photo{
    display: table-cell;
    margin: auto;
}

.img-container{
    margin-top: 25px;
    text-align: center;
    img{
        margin: 0 10px;
    }
}

table{
    background-color: #282828;
    border-collapse: collapse;
    border-radius: 10px;
    border-spacing: 0;
    color: #6d84e0;
    font-size: 11pt;
    margin: 0 auto;
    opacity: 0.9;
    width: 80%;
    tr{
      &:last-child{
        td{
          border-bottom: 0;
        }
      }
    }
    td{
        border-bottom: solid 1px #1a1a1a;
        padding: 10px 25px;
        a{
          color: #6d84e0;
        }
        &:last-child{
          @media (max-width: 768px){
            display: none;
          }
        }
        @media (max-width: 767px){
            padding: 10px;
        }
    }
    @media (max-width: 767px){
      font-size: 10px;
      width: 100%;
    }
}