@font-face {
    font-family: 'CodeProDemoRegular';
    src: url('Code_Pro_Demo-webfont.eot');
    src: url('Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('Code_Pro_Demo-webfont.woff') format('woff'),
         url('Code_Pro_Demo-webfont.ttf') format('truetype'),
         url('Code_Pro_Demo-webfont.svg#CodeProDemoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, content{
  height: 100%;
}

body{
  background-color: #7189E7;
  color: #fff;
  font-family: 'CodeProDemoRegular'; 
  font-size: 12pt;
  height: 100%;
  line-height: 14pt;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  z-index: 2;
}

.content{
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
}

header{
  color: #282828;
  font-family: 'CodeProDemoRegular';
  line-height: 28pt;
  margin: auto;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}

main{
  margin: 25px auto 70px auto;
  max-width: 850px;
}

section{
  display: table-cell;
  padding-top: 25px;
  vertical-align: top;
}

aside{
  display: inline-block;
  float: right;
}

.menu{
  background-color: #282828;
  display: none;
  height: 100%;
  position: fixed;
  opacity: 0.95;
  right: 0;
  top: 0;
  z-index: 10;
}

.menu ul li{
  color: #fff;
  display: block;
  padding: 0;
}

.menu ul li a{
  border-bottom: 1px solid #fff;
  color: #fff;
  display: block;
  padding: 15px 10px;
  width: 150px;
}

nav{
  display: inline-block;
}

footer{
  background-color: #282828;
  bottom: 0;
  font-size: 11pt;
  left: 0;
  margin: 0;
  opacity: 0.8;
  padding: 5px 0;
  position: fixed;
  width: 100%;
}

footer nav ul li a{
  bottom: 5px;
  color: #ffffff;
  position: relative;
}

footer nav ul{
  display: inline-block;
  margin-left: 50px;
  padding-top: 10px;
}

.kiki{
  color: #fff;
  font-family: 'CodeProDemoRegular';
  position: absolute;
  z-index: 3;
}

p{
  color: #3d3d3d;
  font-family: helvetica, arial, sans-serif;
  font-size: 12pt; 
  line-height: 14pt;
  margin: 10px 0;
}

a{
  color: #202020;
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
}


ul{
  list-style-type: none;
  margin: 2px;
  padding: 0;
}

li{
  display: inline-block;
  padding-right: 10px;
  margin:0;
}

#pic{
  cursor: url('../images/micro.cur'), auto;
  display: block;
  width: 80%;
  margin: 0 auto;
  z-index: 4;
}

.dino-test{
    width: 70%;
}

.img-dinokiki{
  border: solid 2px #282828; 
  margin-right: 50px;
}

.friends ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.friends li{
  color: #282828;
  display: block;
  font-family: helvetica, arial, sans-serif;
  padding: 2px 0px;
  margin:0;
}

.friends li a{  
  color: #3d3d3d;
  display: block;
  padding: 2px 0;
  margin:0;
}

.btn-join, .btn-send, input{
  border: 2px solid #282828;
  border-radius: 10px;
  color: #282828;
  cursor: pointer;
  font-family: 'CodeProDemoRegular';
  font-size: 22pt;
  line-height: 20pt;
  margin: 20px auto;
  max-width: 365px;
  padding: 25px 15px;
  text-align: center;
  white-space: nowrap;
}

.btn-join{
  font-size: 22pt;
  line-height: 24pt;
  max-width: 365px;
}

.btn-send{
  font-size: 18pt;
  line-height: 20pt;
  max-width: 300px;
  padding: 15px 10px;
}

form{
  text-align: center;
}

input{
  background-color: transparent;
  font-size: 11pt;
  line-height: 13pt;
  margin: 0 10px;
  padding: 10px;
}



/* headings */
h1{
  color: #282828;
  font-size: 30pt;
  margin: 10px;
}

h1 a:hover{
  text-decoration: none;
}

h2{
  color: #282828;
  font-size: 16pt;
  line-height: 18pt;
  margin: 20px 0 5px 0;
}

h2:first-child{
  margin-top: 0;
}

.copyright{
  bottom: 19px;
  color:#ffffff;
  display: inline-block;
  font-size:  9pt;
  position: fixed;
  left: 50px;
}

.copyright a{
  color: #ffffff;
}

.menu-mobile{
  color: #fff;
  display: none;
  font-size: 30px;
  padding: 10px;
}

.content-under{
  margin: 0 auto;
  width: 90%;
}

.content-under p{
  font-size: 14pt;
  line-height: 16pt;
  margin: 5px 0;
}


@media (min-width:1025px){
  .kiki-form{
    padding: 0 25px;
    vertical-align: middle;
  }
  .btn-join:hover, .btn-send:hover, input:hover{
    background-color: transparent;
    border: 2px solid #282828;
    color: #282828;
  }
}

@media (max-width:1024px){
  .menu-mobile{
    display: table-cell;
  }

  h1{
    font-size: 26pt;
  }
    
  .btn-join, .btn-send{
    font-size: 20pt
  }
    
  footer nav{
    display: none;
  }
    
  footer nav ul{
    margin: 0 0 0 10px;
  }

  footer nav ul li{
    display: block;
  }
    
  footer nav ul li a, .btn-media{
    color: #ffffff;
    display: block;
    font-size: 14pt;
    line-height: 16pt;
    padding: 0 0 10px 0;
  }

  menu ul li.btn-media{
    padding-top: 10px;
  }

  footer nav ul li a:hover{
    text-decoration: none;
  }

  .copyright{
    position: absolute;
    left: 25px;
  }

  main{
    padding-bottom: 70px;
    width: 90%;
  }

}

@media (max-width:1024px){
  a:hover{
    text-decoration: none;
  }
}

@media (min-width:768px) and (max-width: 1024px){
  #pic{
    width: 80%;
  }
}

@media (max-width: 768px){
  h1{
    font-size: 18pt;
  }
  h2{
    font-size: 14pt;
    line-height: 16pt;
  }
  .copyright, .copyright a{
    font-size: 7pt;
  }
  main{
    margin-top: 5px;
  }
  #pic{
    width: 100%;
  }
  
  .img-dinokiki{
    float: none;
    margin-right: 0;
    width: 30%;
  }
    
  section{
    display: block;
    margin-top: 25px;
    padding-top: 0;
  }
  section:first-child{
    margin-top: 0;
    text-align: center;
  }
    
  .btn-join{
    font-size: 14pt;
    line-height: 16pt;
    padding: 15px 10px;
  }
    
  .menu ul li a{
    padding: 15px 10px;
    width: 100px;
  }
}

