main {
  margin: 25px auto 70px auto;
  max-width: 850px; }
  @media (max-width: 768px) {
    main {
      margin-top: 5px; } }
  @media (max-width: 1024px) {
    main {
      padding-bottom: 70px;
      width: 90%; } }

.kiki {
  color: #fff;
  font-family: 'code';
  position: absolute;
  z-index: 3; }

#pic {
  cursor: url("../images/micro.cur"), auto;
  display: block;
  width: 80%;
  margin: 0 auto;
  z-index: 4; }
  @media (max-width: 768px) {
    #pic {
      width: 100%; } }

.btn-join {
  border: 2px solid #282828;
  border-radius: 10px;
  color: #282828;
  cursor: pointer;
  font-family: code;
  font-size: 22pt;
  line-height: 24pt;
  margin: 40px auto;
  max-width: 365px;
  padding: 25px 15px;
  text-align: center;
  white-space: nowrap; }
  @media (min-width: 1025px) {
    .btn-join:hover {
      background-color: transparent;
      border: 2px solid #282828;
      color: #282828; } }
  @media (max-width: 1024px) {
    .btn-join {
      font-size: 20pt; } }
  @media (max-width: 768px) {
    .btn-join {
      font-size: 14pt;
      line-height: 16pt;
      padding: 15px 10px; } }

section {
  margin: 75px 0; }
  @media (max-width: 767px) {
    section {
      margin: 50px 0; } }
  section img {
    border: 2px solid #282828;
    border-radius: 10px; }
    @media (max-width: 767px) {
      section img {
        width: 50%; } }

.dino-photo {
  display: table-cell;
  margin: auto; }

.img-container {
  margin-top: 25px;
  text-align: center; }
  .img-container img {
    margin: 0 10px; }

table {
  background-color: #282828;
  border-collapse: collapse;
  border-radius: 10px;
  border-spacing: 0;
  color: #6d84e0;
  font-size: 11pt;
  margin: 0 auto;
  opacity: 0.9;
  width: 80%; }
  table tr:last-child td {
    border-bottom: 0; }
  table td {
    border-bottom: solid 1px #1a1a1a;
    padding: 10px 25px; }
    table td a {
      color: #6d84e0; }
    @media (max-width: 768px) {
      table td:last-child {
        display: none; } }
    @media (max-width: 767px) {
      table td {
        padding: 10px; } }
  @media (max-width: 767px) {
    table {
      font-size: 10px;
      width: 100%; } }

.form-wrapper {
  display: table;
  margin: 50px auto; }

.dino-in-the-box {
  display: table-cell;
  width: 95%; }
  @media (max-width: 767px) {
    .dino-in-the-box {
      display: block;
      margin: 0 auto;
      width: 70%; } }

form {
  display: table-cell;
  margin: 0 auto;
  padding: 0 50px;
  vertical-align: middle; }
  @media (max-width: 767px) {
    form {
      display: block;
      padding: 0 25px; } }

input, textarea {
  background-color: #282828;
  border: 0;
  border-radius: 10px;
  color: #fff;
  display: block;
  margin: 15px auto;
  opacity: 0.8;
  padding: 10px;
  width: 250px; }
  @media (max-width: 767px) {
    input, textarea {
      font-size: 12pt;
      padding: 20px;
      width: 90%; } }

input[type="submit"] {
  background-color: #4b4b4b;
  font-family: code;
  font-size: 12pt;
  margin: 0 auto;
  -webkit-appearance: none; }
  @media (max-width: 767px) {
    input[type="submit"] {
      font-size: 14pt; } }

span.error {
  color: #901010;
  font-size: 10pt; }
  @media (max-width: 767px) {
    span.error {
      font-size: 12pt; } }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px DimGrey inset; }

footer {
  background-color: #282828;
  bottom: 0;
  font-family: code;
  font-size: 11pt;
  left: 0;
  margin: 0;
  opacity: 0.9;
  padding: 0;
  position: fixed;
  width: 100%; }
  footer nav {
    display: inline-block;
    float: left; }
    @media (max-width: 767px) {
      footer nav {
        display: block;
        float: none; } }
    footer nav ul {
      margin: 10px 5px;
      text-align: center; }
      @media (max-width: 1024px) {
        footer nav ul {
          padding: 0; } }
      @media (max-width: 767px) {
        footer nav ul {
          margin: 0; } }
      footer nav ul li {
        display: inline-block;
        padding: 0 5px; }
        @media (max-width: 1024px) {
          footer nav ul li {
            padding: 5px 10px; } }
        @media (max-width: 767px) {
          footer nav ul li {
            padding: 0; } }
        footer nav ul li a {
          bottom: 0;
          color: #fff;
          position: relative; }
          @media (max-width: 1024px) {
            footer nav ul li a {
              font-size: 14pt;
              line-height: 16pt; } }
          @media (max-width: 767px) {
            footer nav ul li a {
              display: inline-block;
              font-size: 8pt;
              line-height: 10pt;
              padding: 0 10px;
              white-space: nowrap; } }
          @media (max-width: 1024px) {
            footer nav ul li a:hover {
              text-decoration: none; } }
          footer nav ul li a img {
            display: none; }
            @media (max-width: 767px) {
              footer nav ul li a img {
                display: block;
                margin: 5px auto; } }
          @media (max-width: 767px) {
            footer nav ul li a.active {
              background-color: #111; } }
        footer nav ul li.btn-media {
          max-height: 20px;
          vertical-align: bottom; }
          @media (max-width: 767px) {
            footer nav ul li.btn-media {
              display: none; } }

.copyright {
  bottom: 10px;
  color: #fff;
  display: inline-block;
  font-size: 9pt;
  position: fixed;
  right: 50px; }
  @media (max-width: 1024px) {
    .copyright {
      font-size: 8pt; } }
  .copyright a {
    color: #fff; }
  @media (max-width: 767px) {
    .copyright {
      display: none; } }

@font-face {
  font-family: 'code';
  src: url("Code_Pro_Demo-webfont.eot");
  src: url("Code_Pro_Demo-webfont.eot?#iefix") format("embedded-opentype"), url("Code_Pro_Demo-webfont.woff") format("woff"), url("Code_Pro_Demo-webfont.ttf") format("truetype"), url("Code_Pro_Demo-webfont.svg#CodeProDemoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Regular.ttf"); }
html, body, .content {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%; }

body {
  background-color: #6378ca;
  color: #282828;
  font-family: helvetica, arial;
  font-size: 12pt;
  line-height: 14pt; }

.content {
  display: inline-block;
  position: relative;
  z-index: 2; }

header {
  margin: auto;
  padding: 15px 0;
  text-align: center;
  width: 100%; }
  @media (max-width: 1023px) {
    header img {
      width: 85%; } }
  @media (max-width: 767px) {
    header img {
      width: 90%; } }

p {
  font-size: 14pt;
  line-height: 20pt;
  margin: 10px 0; }

a {
  color: #202020;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
    @media (max-width: 1024px) {
      a:hover {
        text-decoration: none; } }

/* headings */
h1 {
  color: #282828;
  font-family: code;
  font-size: 30pt;
  line-height: 32pt;
  margin: 10px; }
  h1 a:hover {
    text-decoration: none; }
  @media (max-width: 768px) {
    h1 {
      font-size: 18pt;
      line-height: 20pt; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    h1 {
      font-size: 26pt;
      line-height: 28pt; } }

h2 {
  font-size: 16pt;
  line-height: 18pt;
  margin: 20px 0 5px 0; }
  h2:first-child {
    margin-top: 0; }
  @media (max-width: 768px) {
    h2 {
      font-size: 14pt;
      line-height: 16pt; } }

/* general styling for about and send page */
main.text {
  margin: 50px auto;
  max-width: 80%; }

.center {
  text-align: center; }

/*# sourceMappingURL=dinostyle.css.map */
