.kiki-gallery {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-top: 25px;
	position: relative;
	width: 100%;
}

.kiki-gallery__img {
	border-radius: $border-radius;
	width: 100%;
}

.kiki-gallery__kiki {
	box-sizing: border-box;
	cursor: pointer;
	line-height: 0;
	width: 25%;
	@media (max-width: $max-sm) {
		width: 50%;
	}
}

.kiki-gallery__back-info {
	display: none;
}