.section {
  padding: 7.5vh 5vw;
  
  &.section--white {
    background-color: $white-trans;
  }

  &.section--flex {
    align-items: center;
    display: flex;

    @media (max-width: $max-sm) {
      flex-direction: column;
    }
  }
}

.section__flex-img {
  border-radius: 100%;
  width: 17vw;
  @media (max-width: $max-sm) {
    margin-bottom: 25px;
    width: 70vw;
  }
}

.section__flex-text-wrapper {
  padding-left: 5vw;
}

.section__h2 {
  margin: 0 0 15px;
  text-transform: uppercase;
  
  &.section__h2--blue {
    color: $blue-darkest;
  }

  @media (max-width: $max-sm) {
    font-size: 1.25rem;
  }
}

.section__p {
  margin: 0;

  &.section__p--blue {
    color: $blue-darkest;
  }

  .section__p--bold {
    font-weight: 700;
  }
}

.section__a {
  color: $white;
  font-weight: 600;
  text-decoration: none;

  &.section__a--blue {
    color: $blue-darker;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}