#configuration files
.DS_Store
Desktop.ini

#Private files
application/config/database.php
application/config/config.php

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache



# Config.php should be added to gitignore
# database.php must not be commited, just to avoid db exposure

application/config/config.php
application/config/database.php


