$textMainColor: #e68a2e;
$pColor: #e68a2e;
$aColor: #e68a2e;
$kikiColor: #F5A24E;
$footerTextColor: #282828;
$backgroundColor:#282828;
$borderColor: #e68a2e;
$footerColor: #e68a2e;

.btn-padrao {
    border: 2px solid $borderColor;
    border-radius: 10px;
    color: $textMainColor;
    cursor: pointer;
    font-family: 'CodeProDemoRegular';
    font-size: 22pt;
    line-height: 20pt;
    margin: 20px auto;
    max-width: 365px;
    padding: 25px 15px;
    text-align: center;
    white-space: nowrap;
    &:hover {
        @media (min-width:1025px){
            background-color: transparent;
            border: 2px solid $borderColor;
            color: $textMainColor;
          }
    }
    @media (max-width:1024px){
        font-size: 20pt;
    }
}