@import "base";
@import "main";
@import "join-help-main";
@import "menu";
@import "footer";
@import "extras";

@font-face {
    font-family: 'CodeProDemoRegular';
    src: url('Code_Pro_Demo-webfont.eot');
    src: url('Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'), url('Code_Pro_Demo-webfont.woff') format('woff'), url('Code_Pro_Demo-webfont.ttf') format('truetype'), url('Code_Pro_Demo-webfont.svg#CodeProDemoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, content {
    height: 100%;
}

body {
    background-color: $backgroundColor;
    font-family: 'CodeProDemoRegular';
    font-size: 12pt;
    height: 100%;
    line-height: 14pt;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    z-index: 2;
}

.content {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
}

header {
    color: $textMainColor;
    font-family: 'CodeProDemoRegular';
    line-height: 28pt;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.kiki {
    color: $kikiColor;
    font-family: 'CodeProDemoRegular';
    position: absolute;
    z-index: 3;
}

p {
    color: $pColor;
    font-family: helvetica, arial, sans-serif;
    font-size: 12pt;
    line-height: 14pt;
    margin: 10px 0;
}

a {
    color: $aColor;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        @media (max-width:1024px) {
            text-decoration: none;
        }
    }
}

ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
}

li {
    display: inline-block;
    padding-right: 10px;
    margin: 0;
}
     
/* headings */
h1 {
    color: $textMainColor;
    font-size: 30pt;
    margin: 10px;
    a:hover {
        text-decoration: none;
    }
    @media (max-width: 768px) {
        font-size: 18pt;
    }
    @media (min-width: 769px) and (max-width:1024px) {
        font-size: 26pt;
    }
}

h2 {
    color: $textMainColor;
    font-size: 16pt;
    line-height: 18pt;
    margin: 20px 0 5px 0;
    &:first-child {
        margin-top: 0;
    }
    @media (max-width: 768px){
        font-size: 14pt;
        line-height: 16pt;
    }
}


