@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Regular.ttf"); }
@font-face {
  font-family: 'code';
  src: url("../fonts/Code_Pro_Demo-webfont.eot");
  src: url("../fonts/Code_Pro_Demo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Code_Pro_Demo-webfont.woff") format("woff"), url("../fonts/Code_Pro_Demo-webfont.ttf") format("truetype"), url("../fonts/Code_Pro_Demo-webfont.svg#CodeProDemoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #6378ca;
  color: #282828;
  font-family: raleway, helvetica, arial;
  font-size: 12pt;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  width: 100%; }

.content {
  position: relative;
  z-index: 2; }

header {
  margin: auto;
  padding: 5vh 0;
  position: relative;
  text-align: center;
  width: 80vw;
  z-index: 2; }
  @media (max-width: 991px) {
    header {
      width: 95vw; } }
  @media (max-width: 767px) {
    header {
      padding: 2.5vh 0; } }

p {
  font-size: 13pt;
  line-height: 16pt;
  margin: 10px 0; }
  p.small {
    font-size: 12pt;
    line-height: 16pt; }

a {
  color: #202020;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
    @media (max-width: 991px) {
      a:hover {
        text-decoration: none; } }

/* headings */
h1 {
  line-height: 1.6;
  margin: 0; }
  h1 a {
    color: #282828;
    font-family: code;
    font-size: 30pt; }
    h1 a:hover {
      text-decoration: none; }
    @media (max-width: 767px) {
      h1 a {
        font-size: 10pt; } }
    @media (min-width: 768px) and (max-width: 991px) {
      h1 a {
        font-size: 24pt; } }

h2 {
  font-family: code;
  font-size: 14pt;
  line-height: 16pt;
  margin: 10px 0 15px 0;
  text-align: center; }
  h2:first-child {
    margin-top: 0; }
  @media (max-width: 767px) {
    h2 {
      font-size: 14pt;
      line-height: 16pt; } }

h3, h4 {
  font-family: code; }

/* end of headings */
/* hidden classes */
.hidden {
  display: none !important; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
/* end of hidden classes */
main {
  margin: 0;
  margin-bottom: 63px;
  position: relative;
  z-index: 2; }

section {
  margin: 1.5% 10%;
  text-align: justify; }
  section.dino-test-wrapper {
    background-color: #343849;
    margin: 0;
    padding: 3.75% 10%; }
  section img {
    border: 1px solid #282828;
    border-radius: 10px;
    margin: 0 -3px; }
    @media (max-width: 767px) {
      section img {
        width: 50%; } }
  section.dark {
    background-color: #343849;
    margin: 2.5% 0; }
  section .icon-wrapper img {
    max-width: 40px; }

.big-photo {
  margin: 0 0 1% 0; }
  .big-photo img {
    border: 0;
    border-radius: 0;
    width: 100%; }
  @media (max-width: 767px) {
    .big-photo {
      display: none; } }

/* buttons */
.btn, .kiki-form input[type="submit"], .kiki-form input[type="reset"], input[type="submit"] {
  background-color: #282828;
  border: 0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: raleway;
  font-size: 11pt;
  opacity: 0.8;
  padding: 10px 15px; }
  @media (min-width: 1025px) {
    .btn:hover, .kiki-form input[type="submit"]:hover, .kiki-form input[type="reset"]:hover, input[type="submit"]:hover {
      background-color: #191919; } }
  .btn:focus, .kiki-form input[type="submit"]:focus, .kiki-form input[type="reset"]:focus, input[type="submit"]:focus {
    outline: 0; }
  @media (max-width: 910px) {
    .btn, .kiki-form input[type="submit"], .kiki-form input[type="reset"], input[type="submit"] {
      font-size: 11pt;
      line-height: 13pt;
      width: 42%; } }
  @media (max-width: 768px) {
    .btn, .kiki-form input[type="submit"], .kiki-form input[type="reset"], input[type="submit"] {
      display: inline-block;
      margin: 1.5% 0;
      width: 90%; } }

.icon-wrapper {
  text-align: center; }
  .icon-wrapper img.icon {
    border: 0; }

.menu-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  left: -7.5vw;
  line-height: 52px;
  position: absolute;
  top: 2%; }
  @media (min-width: 768px) {
    .menu-icon {
      display: none; } }
  .menu-icon span {
    color: #282828;
    font-size: 18pt; }

/* dynamic kikis when dino is clicked */
p.kiki {
  color: #fff;
  font-family: 'code';
  position: absolute;
  z-index: 3; }

/* dinokiki's photo */
.dino {
  cursor: url("../images/micro.cur"), auto;
  display: block;
  margin: 8vh auto;
  z-index: 4; }
  @media (min-width: 769px) {
    .dino {
      max-width: 50%; } }
  @media (max-width: 768px) {
    .dino {
      width: 70%; } }

.kiki-wrapper {
  z-index: 3; }

.azul {
  animation: lightItUp 2s linear infinite;
  -webkit-animation: lightItUp 2s linear infinite;
  -moz-animation: lightItUp 2s linear infinite;
  -ms-animation: lightItUp 2s linear infinite;
  -o-animation: lightItUp 2s linear infinite; }

.vermelho {
  animation: lightItUp 2s -0.5s linear infinite;
  -webkit-animation: lightItUp 2s -0.5s linear infinite;
  -moz-animation: lightItUp 2s -0.5s linear infinite;
  -ms-animation: lightItUp 2s -0.5s linear infinite;
  -o-animation: lightItUp 2s -0.5s linear infinite; }

.verde {
  animation: lightItUp 2s -1s linear infinite;
  -webkit-animation: lightItUp 2s -1s linear infinite;
  -moz-animation: lightItUp 2s -1s linear infinite;
  -ms-animation: lightItUp 2s -1s linear infinite;
  -o-animation: lightItUp 2s -1s linear infinite; }

.amarelo {
  animation: lightItUp 2s -1.5s linear infinite;
  -webkit-animation: lightItUp 2s -1.5s linear infinite;
  -moz-animation: lightItUp 2s -1.5s linear infinite;
  -ms-animation: lightItUp 2s -1.5s linear infinite;
  -o-animation: lightItUp 2s -1.5s linear infinite; }

@keyframes lightItUp {
  0% {
    fill: #4065A0; }
  24% {
    fill: #4065A0; }
  25% {
    fill: #923334; }
  49% {
    fill: #923334; }
  50% {
    fill: #317137; }
  74% {
    fill: #317137; }
  75% {
    fill: #C7AD3A; }
  100% {
    fill: #C7AD3A; } }
@-webkit-keyframes lightItUp {
  0% {
    fill: #4065A0; }
  24% {
    fill: #4065A0; }
  25% {
    fill: #923334; }
  49% {
    fill: #923334; }
  50% {
    fill: #317137; }
  74% {
    fill: #317137; }
  75% {
    fill: #C7AD3A; }
  100% {
    fill: #C7AD3A; } }
@-moz-keyframes lightItUp {
  0% {
    fill: #4065A0; }
  24% {
    fill: #4065A0; }
  25% {
    fill: #923334; }
  49% {
    fill: #923334; }
  50% {
    fill: #317137; }
  74% {
    fill: #317137; }
  75% {
    fill: #C7AD3A; }
  100% {
    fill: #C7AD3A; } }
@-ms-keyframes lightItUp {
  0% {
    fill: #4065A0; }
  24% {
    fill: #4065A0; }
  25% {
    fill: #923334; }
  49% {
    fill: #923334; }
  50% {
    fill: #317137; }
  74% {
    fill: #317137; }
  75% {
    fill: #C7AD3A; }
  100% {
    fill: #C7AD3A; } }
.img-container {
  padding: 2.5% 10%; }
  .img-container h2 {
    color: #6378ca;
    text-align: left; }
  .img-container img {
    width: 25%; }

.dino-friend-wrapper {
  display: inline-block;
  margin: -6px -2px;
  width: 25%; }
  .dino-friend-wrapper .dino-friend {
    display: inline-block; }
    .dino-friend-wrapper .dino-friend img {
      cursor: pointer;
      width: 100%; }

.dino-modal {
  background-color: #282828;
  border-radius: 10px;
  bottom: 0;
  display: table;
  height: 40vh;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  width: 60vw;
  top: 0;
  z-index: 3; }
  .dino-modal:before {
    background-color: #282828;
    content: '';
    height: 100vh;
    left: -20vw;
    opacity: 0.5;
    position: absolute;
    top: -35vh;
    width: 100vw;
    z-index: -1; }
    @media (max-width: 1024px) {
      .dino-modal:before {
        left: -5vw; } }
    @media (max-width: 768px) {
      .dino-modal:before {
        height: 110vh;
        overflow: hidden; } }
  .dino-modal img {
    border-radius: 10px;
    display: table-cell;
    margin: 50px 0 50px 50px;
    max-width: 100%; }
    @media (max-width: 768px) {
      .dino-modal img {
        margin: 25px 0 25px 25px; } }
  @media (max-width: 1024px) {
    .dino-modal {
      height: 20vh;
      width: 90vw; } }
  @media (max-width: 768px) {
    .dino-modal {
      height: 40vh;
      width: 90vw; } }

.modal-text-content {
  color: #ebebeb;
  display: table-cell;
  padding: 50px 100px;
  vertical-align: top;
  width: 75%; }
  .modal-text-content h3 {
    margin: 0; }
    @media (max-width: 768px) {
      .modal-text-content h3 {
        font-size: 12pt; } }
  .modal-text-content h4 {
    font-weight: normal;
    margin: 0; }
  .modal-text-content img {
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin: 10px 10px 0 0; }
    .modal-text-content img.audio {
      display: block; }
    @media (min-width: 1025px) {
      .modal-text-content img:hover {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9); } }
  @media (max-width: 768px) {
    .modal-text-content {
      padding: 25px 25px 25px 50px; } }

.close-icon {
  color: #ebebeb;
  cursor: pointer;
  font-size: 14pt;
  position: absolute;
  right: 20px;
  top: 20px; }

form {
  margin: 0 auto;
  padding: 0; }
  form .form-element {
    display: inline-block;
    position: relative;
    width: 49%; }
    @media (max-width: 767px) {
      form .form-element {
        display: block;
        width: 100%; } }

label {
  color: #282828;
  display: none;
  font-size: 9pt;
  line-height: 11pt;
  opacity: 0;
  position: absolute;
  top: 45%; }

.kiki-form input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #282828;
  color: #282828;
  display: block;
  font-family: helvetica, arial;
  font-size: 11pt;
  line-height: 13pt;
  margin: 2.5% 0;
  opacity: 0.9;
  padding: 1.25% 0;
  width: 100%; }
  .kiki-form input[type="submit"], .kiki-form input[type="reset"] {
    display: inline-block;
    width: auto; }
  @media (max-width: 767px) {
    .kiki-form input {
      font-size: 10pt;
      padding: 15px 0 5px 0;
      width: 100%; } }
.kiki-form .btn-wrapper {
  text-align: right; }

.form-element span {
  display: block;
  font-size: 10pt;
  margin-top: -10px; }
  @media (max-width: 767px) {
    .form-element span {
      font-size: 12pt; } }

.error {
  color: #802525; }

.success {
  color: #356125; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #6378ca inset; }

input::-webkit-input-placeholder {
  color: #282828; }

input::-moz-placeholder {
  color: #282828; }

input:-ms-input-placeholder {
  color: #282828; }

textarea::-webkit-input-placeholder {
  color: #282828; }

textarea::-moz-placeholder {
  color: #282828; }

textarea:-ms-input-placeholder {
  color: #282828; }

footer {
  background-color: #282828;
  bottom: 0;
  font-family: raleway;
  font-size: 11pt;
  left: 0;
  margin: 0;
  opacity: 0.9;
  padding: 5px 0;
  position: fixed;
  width: 100vw;
  z-index: 5; }
  footer .media-wrapper {
    bottom: 0;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 0; }
    footer .media-wrapper li {
      display: inline-block;
      list-style-type: none;
      padding: 5px;
      vertical-align: top; }
      footer .media-wrapper li:first-child {
        line-height: 30px; }
      footer .media-wrapper li.btn-media.twitter {
        padding-top: 15px; }
  @media (max-width: 991px) {
    footer {
      background-color: #eee;
      border-top: 1px solid #314698; } }
  footer nav ul {
    margin: 10px 5px;
    padding: 0;
    text-align: center; }
    footer nav ul li {
      display: inline-block;
      padding: 0 5px; }
      @media (max-width: 991px) {
        footer nav ul li {
          padding: 0;
          width: 23vw; } }
      footer nav ul li a {
        bottom: 0;
        color: #fff;
        position: relative; }
        footer nav ul li a svg {
          fill: #8c8c8c; }
        footer nav ul li a.active svg {
          fill: #282828; }

@media (min-width: 992px) {
  .menu-svg-wrapper {
    display: none; } }

.game-wrapper {
  background-color: #282828;
  margin: 0 0 2.5% 0;
  padding: 50px; }
  .game-wrapper h2 {
    color: #ebebeb;
    font-family: code;
    font-weight: normal;
    text-align: left; }
    @media (max-width: 767px) {
      .game-wrapper h2 {
        font-size: 12pt; } }
  .game-wrapper .img-wrapper {
    margin: 25px auto;
    text-align: center; }
    .game-wrapper .img-wrapper img {
      margin: 0 1%;
      width: 21%; }
      @media (max-width: 767px) {
        .game-wrapper .img-wrapper img {
          width: 42%; } }
  @media (max-width: 767px) {
    .game-wrapper {
      padding: 25px; } }

.btn-wrapper {
  margin: 0 0 100px 0; }

.ended .btn-wrapper {
  margin: 10px 0; }
  .ended .btn-wrapper .btn {
    background-color: #191919; }
    @media (min-width: 1025px) {
      .ended .btn-wrapper .btn:hover {
        background-color: #0f0f0f; } }
.ended img {
  display: table-cell;
  width: 85%; }
  @media (max-width: 767px) {
    .ended img {
      display: block;
      margin: auto;
      width: 55%; } }
.ended .center-align-ended-content {
  display: table;
  margin: auto;
  width: 80%; }
  @media (max-width: 767px) {
    .ended .center-align-ended-content {
      width: 100%; } }
.ended .text-container-ended {
  display: table-cell;
  padding: 0 25px;
  vertical-align: middle;
  width: 80%; }
  @media (max-width: 767px) {
    .ended .text-container-ended {
      display: block;
      padding: 0;
      width: 100%; } }
.ended h3 {
  color: #fff;
  font-size: 20pt;
  margin: 0 0 10px 0; }
  @media (max-width: 767px) {
    .ended h3 {
      font-size: 14pt; } }
.ended h4 {
  color: #fff;
  font-size: 18pt;
  margin: 0; }
  @media (max-width: 767px) {
    .ended h4 {
      font-size: 12pt; } }

.form-test {
  margin: 1.25% auto;
  text-align: center; }
  .form-test input {
    border-bottom: 1px solid #282828;
    display: inline-block;
    padding: 1.25% 0; }
    .form-test input[type="submit"] {
      width: 10%; }
      @media (max-width: 767px) {
        .form-test input[type="submit"] {
          width: 50%; } }

.test {
  border: 0; }

.btn-wrapper {
  text-align: center; }

#pic {
  cursor: url(../images/micro.cur), auto;
  display: block;
  margin: 0 auto;
  width: 55%;
  z-index: 4; }

.dino-test-wrapper .dino-fechado, .dino-test-wrapper .dino-aberto {
  text-align: center; }
  .dino-test-wrapper .dino-fechado svg, .dino-test-wrapper .dino-aberto svg {
    width: 50vw; }

/*# sourceMappingURL=dinostyle.css.map */
