.content-under {
    margin: 0 auto;
    width: 90%;
    p {
        font-size: 14pt;
        line-height: 16pt;
        margin: 5px 0;
    }
}

.kiki-form {
    @media (min-width:1025px){
        padding: 0 25px;
        vertical-align: middle;
    }
}

.btn-send {
    @extend .btn-padrao;
    font-size: 18pt;
    line-height: 20pt;
    max-width: 300px;
    padding: 15px 10px;
}


form {
    text-align: center;
}

input {
    @extend .btn-padrao;
    background-color: transparent;
    font-size: 11pt;
    line-height: 13pt;
    margin: 0 10px;
    padding: 10px;
}

.dino-test {
    width: 70%;
}