main {
    margin: 5px auto 70px auto;
    max-width: 850px;
    @media (max-width: 768px){
        margin-top: 5px;
    }
    @media (max-width: 1024px) {
        padding-bottom: 70px;
        width: 90%;
    }
}

#pic {
    cursor: url('../images/micro.cur'), auto;
    display: block;
    width: 80%;
    margin: 0 auto;
    z-index: 4;
    @media (min-width:768px) and (max-width: 1024px) {
        width: 80%;
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}

.btn-join {
    @extend .btn-padrao;
    line-height: 24pt;
    max-width: 365px;
    @media (max-width: 768px) {  
        font-size: 14pt;
        line-height: 16pt;
        padding: 15px 10px;
    }
}


